<% include partials/header %>
<div class="container">
    <script>
        const DEF_DISTANCE      = 100;
        const DEF_MIN_SCORE     = 50;
        const DEF_MAX_SCORE     = 99;
        const DEF_MIN_AGE       = 18;
        const DEF_MAX_AGE       = 45;
        const DEF_MIN_HEIGHT    = 145;
        const DEF_MAX_HEIGHT    = 175;
        
        //initializing filters
        var filters = {
            hasPhoto: $('#hasPhoto').is(":checked"),
            inContact: $('#inContact').is(":checked"),
            favourite: $('#favourite').is(":checked"),
            compatibilityScore: {
                min: DEF_MIN_SCORE,
                max: DEF_MAX_SCORE
            },
            age: {
                min: DEF_MIN_AGE,
                max: DEF_MAX_AGE
            },
            height: {
                min: DEF_MIN_HEIGHT,
                max: DEF_MAX_HEIGHT
            },
            distance: DEF_DISTANCE,
        };
    </script>
    
    <!--adding sliders-->
    <script src="/scripts/filterSliders.js"></script>
    
    <!--adding filter request processing-->
    <script src="/scripts/filterProcessing.js"></script>
    
    <header class="jumbotron">
        <div class="container">
            <p>Get your best match!</p>
            
                <div class="row" style="display:flex; flex-wrap: wrap;">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" onclick="getFilteredData()">Filter!</button>
                        </div>
                        
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="hasPhoto">
                            <label class="form-check-label" for="hasPhoto">Has photo</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="inContact">
                            <label class="form-check-label" for="inContact">In contact</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" class="form-check-input" id="favourite">
                            <label class="form-check-label" for="favourite">Favourite</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="compatibilityScore">Compatibility score:</label>
                            <input class="sliderInput" type="text" id="compatibilityScore" readonly>
                            <div id="compatibilityScoreRange"></div>
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input class="sliderInput" type="text" id="age" readonly>
                            <div id="ageRange"></div>
                        </div>
                        <div class="form-group">
                            <label for="height">Height:</label>
                            <input class="sliderInput" type="text" id="height" readonly>
                            <div id="heightRange"></div>
                        </div>
                        <div class="form-group">
                            <label for="distance">Maximum distance:</label>
                            <input class="sliderInput" type="text" id="distance" readonly>
                            <div id="distanceMax"></div>
                        </div>
                    </div>
                </div>
            
        </div>
        
        <!-- TODO: sorting options -->
        <!-- TODO: implement lazy-loading mechanism -->
    </header>
     
    <div id="usersContainer" class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% users.forEach(function(user){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 profile">
                <div class="thumbnail">
                    <div class="img-box text-center">
                        <% if (user.main_photo) { %>
                            <img src="<%= user.main_photo %>" class="img-responsive">
                        <% } else { %>
                            <img src="/images/no_photo.jpg" class="img-responsive">
                        <% } %>
                        <ul class="text-center">
                            <a href="#"><li><i class="glyphicon glyphicon-user"></i></li></a>
                            <a href="#"><li><i class="glyphicon glyphicon-heart"></i></li></a>
                            <a href="#"><li><i class="glyphicon glyphicon-envelope"></i></li></a>
                        </ul>
                    </div>
                    <h1><%= user.display_name %>, <%= user.age %></h1>
                    <h2><%= user.religion %></h2>
                    <h2><%= user.job_title %> - <%= user.city.name %></h2>
                    <p>Match: <%= user.compatibility_score * 100 %>%</p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
